# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.cpython-*.pyc

# Distribution / build artifacts
.eggs/
build/
dist/
*.egg-info/
sdist/
wheel/
*.manifest
*.spec

# Python virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# Local data and models (IMPORTANT)
# We ignore large model files and raw datasets,
# but we track configs and metrics.

# Ignore all trained model files
*.pt
*.pkl

# Ignore large raw data files
data/raw/tox21.csv.gz
data/raw/training_molecules.txt
data/raw/validation_molecules.txt
data/raw/test_molecules.txt

# Logs and outputs
logs/
demo_report.json
*.log
*.tar.gz

# OS-specific files
.DS_Store
Thumbs.db

# Ignore all ZIP and CSV files
.zip
.csv